#Icon {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}
svg-container {
  position: fixed;
  overflow: hidden;

}
 svg {
	.svg-elem-1 {
		stroke-dashoffset: 4618.53271484375px;
		stroke-dasharray: 4618.53271484375px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
	}
	.svg-elem-2 {
		stroke-dashoffset: 58.77166748046875px;
		stroke-dasharray: 58.77166748046875px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
	}
	.svg-elem-3 {
		stroke-dashoffset: 69.0654067993164px;
		stroke-dasharray: 69.0654067993164px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
	}
	.svg-elem-4 {
		stroke-dashoffset: 233.23989868164062px;
		stroke-dasharray: 233.23989868164062px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
	}
	.svg-elem-5 {
		stroke-dashoffset: 66.99137878417969px;
		stroke-dasharray: 66.99137878417969px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
	}
	.svg-elem-6 {
		stroke-dashoffset: 74.24482727050781px;
		stroke-dasharray: 74.24482727050781px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
	}
	.svg-elem-7 {
		stroke-dashoffset: 74.89517211914062px;
		stroke-dasharray: 74.89517211914062px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
	}
	.svg-elem-8 {
		stroke-dashoffset: 1257.487060546875px;
		stroke-dasharray: 1257.487060546875px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
	}
	.svg-elem-9 {
		stroke-dashoffset: 2738.231201171875px;
		stroke-dasharray: 2738.231201171875px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
	}
	.svg-elem-10 {
		stroke-dashoffset: 347.1195068359375px;
		stroke-dasharray: 347.1195068359375px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
	}
	.svg-elem-11 {
		stroke-dashoffset: 357.41156005859375px;
		stroke-dasharray: 357.41156005859375px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
	}
	.svg-elem-12 {
		stroke-dashoffset: 82.35272216796875px;
		stroke-dasharray: 82.35272216796875px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3199999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
	}
	.svg-elem-13 {
		stroke-dashoffset: 112.3587417602539px;
		stroke-dasharray: 112.3587417602539px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.44s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
	}
	.svg-elem-14 {
		stroke-dashoffset: 971.0460205078125px;
		stroke-dasharray: 971.0460205078125px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.56s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
	}
	.svg-elem-15 {
		stroke-dashoffset: 152.19461059570312px;
		stroke-dasharray: 152.19461059570312px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.68s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
	}
	.svg-elem-16 {
		stroke-dashoffset: 277.0259704589844px;
		stroke-dasharray: 277.0259704589844px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7999999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
	}
	.svg-elem-17 {
		stroke-dashoffset: 198.43197631835938px;
		stroke-dasharray: 198.43197631835938px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.92s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
	}
	.svg-elem-18 {
		stroke-dashoffset: 68.72468566894531px;
		stroke-dasharray: 68.72468566894531px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.04s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
	}
	.svg-elem-19 {
		stroke-dashoffset: 332.1943359375px;
		stroke-dasharray: 332.1943359375px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.16s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
	}
	.svg-elem-20 {
		stroke-dashoffset: 58.771636962890625px;
		stroke-dasharray: 58.771636962890625px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.28s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
	}
	.svg-elem-21 {
		stroke-dashoffset: 127.33502197265625px;
		stroke-dasharray: 127.33502197265625px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s;
	}
	.svg-elem-22 {
		stroke-dashoffset: 122.91372680664062px;
		stroke-dasharray: 122.91372680664062px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.52s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s;
	}
	.svg-elem-23 {
		stroke-dashoffset: 1565.5771484375px;
		stroke-dasharray: 1565.5771484375px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6399999999999997s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
	}
	.svg-elem-24 {
		stroke-dashoffset: 58.771644592285156px;
		stroke-dasharray: 58.771644592285156px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.76s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1000000000000005s;
	}
	.svg-elem-25 {
		stroke-dashoffset: 213.5201873779297px;
		stroke-dasharray: 213.5201873779297px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 2.88s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
	}
	.svg-elem-26 {
		stroke-dashoffset: 94.39302062988281px;
		stroke-dasharray: 94.39302062988281px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3s;
	}
	.svg-elem-27 {
		stroke-dashoffset: 56.85713195800781px;
		stroke-dasharray: 56.85713195800781px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.12s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.4000000000000004s;
	}
	.svg-elem-28 {
		stroke-dashoffset: 101.37356567382812px;
		stroke-dasharray: 101.37356567382812px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2399999999999998s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.5s;
	}
	.svg-elem-29 {
		stroke-dashoffset: 69.06526947021484px;
		stroke-dasharray: 69.06526947021484px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.36s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.6000000000000005s;
	}
	.svg-elem-30 {
		stroke-dashoffset: 161.88726806640625px;
		stroke-dasharray: 161.88726806640625px;
		fill: transparent;
		-webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
		transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 3.48s, fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 3.7s;
	}
}
svg.active {
	.svg-elem-1 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-2 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-3 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-4 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-5 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-6 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-7 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-8 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-9 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-10 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-11 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-12 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-13 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-14 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-15 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-16 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-17 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-18 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-19 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-20 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-21 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-22 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-23 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-24 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-25 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-26 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-27 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-28 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-29 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
	.svg-elem-30 {
		stroke-dashoffset: 0;
		fill: rgb(100, 100, 100);
	}
}
